body {
  background-color: #73bd7b;
}
h1 {
  text-align: center;
}
.score {
  width:20px;
  margin: 0 auto;
  font-size: 20px;
}
table {
  margin:50px auto;
  /*background-color: red;*/
}
#message {
  text-align: center;
  margin-top: 10px;
}
  td {
    width:100px;
    height:100px;
    text-align: center;
    border-radius: 10px;
    font-size:70px;
    /*background-color: blue*/
  }

a {
  /*background-color: black;*/
  text-decoration:none;
  margin-left: 490px ;
  color: red;
  font-size: 40px;
}
